<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="dd7d3407-a0b2-4800-bba7-0c7e28c37a8d" Publisher="CN=JGMS" Version="1.0.0.0" />
  <Properties>
    <DisplayName>JGMSoftware</DisplayName>
    <PublisherDisplayName>JGMS</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="JGMSoftware.App">
      <VisualElements DisplayName="JGMSoftware" Logo="Assets\JGMSLogo100.png" SmallLogo="Assets\SmallLogo.png" Description="JGMSoftware" ForegroundText="light" BackgroundColor="#8cbf26">
        <DefaultTile ShowName="noLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\JGMSSplash.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>